// colors
$primary:#2c4bff;
$success:#5debdf;
$danger:#db1a2a;
$warning:#ff6c60;


//$theme-colors: (
//        "primary":    $primary,
//        "success":    $success,
//        "warning":    $warning,
//        "danger":     $danger,
//);
